@import '../../../../style/variables.module.scss';

.main_button {
    width: 300px;
    height: 300px;
    border: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    margin: 5px;
    &:hover {
        -webkit-box-shadow: 0px 0px 7px 0px $accent;
        -moz-box-shadow: 0px 0px 7px 0px $accent;
        box-shadow: 0px 0px 7px 0px $accent;
    }
    &:hover ::before {
        transition: .5s ease-in-out;
        width: calc(100% + 20px);
    }
}

@media (max-width: 950px) {
    .main_button {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 780px) {
    .main_button {
        width: 220px;
        height: 220px;
    }
}

@media (max-width: 600px) {
    .main_button {
        width: 220px;
        height: 150px;
    }
}

@media (max-width: 450px) {
    .main_button {
        width: 220px;
        height: 120px;
    }
}