@import '../../../../style/variables.module.scss';

.footer {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $white;
}