.button_group {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
}

@media (max-width: 690px) {
    .button_group {
        flex-direction: column;
    }
}